/*
 * Archivo Keymap para la Funda Teclado 6x5 con 2 Joysticks
 *
 * Placa: NRF52840 (nice_nano_v2)
 * Matriz: 6 Columnas x 5 Filas
 * Joystick 1 (Izquierdo): Digital (5 botones) para Modificadores
 * Joystick 2 (Derecho): Analógico (2 ejes) para Mouse + 1 botón
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
// Se eliminó #include <dt-bindings/zmk/matrix_transform.h> (movido al .overlay)

/ {
    compatible = "zmk,keymap";

    // --- Mapa de Teclas (Keymap) ---
    keymap {
        compatible = "zmk,keymap"; //

        // --- CAPA 0: Base ---
        default_layer {
            bindings = <
                &kp Q        &kp W        &kp E        &kp R        &kp T        &kp Y
                &kp A        &kp S        &kp D        &kp F        &kp G        &kp H
                &kp Z        &kp X        &kp C        &kp V        &kp B        &kp N
                &kp LCTL     &kp LALT     &kp LGUI     &kp RGUI     &kp RALT     &kp RCTL
                &kp GRAVE    &kp TAB      &kp ESC      &kp BSPC     &kp RET      &kp SPC
            >; //

            sensor-bindings = <
                // Joystick 1 (Digital)
                &kp LSHFT    // Joy1 Arriba
                &kp DOWN     // Joy1 Abajo (Flecha abajo)
                &kp LEFT     // Joy1 Izquierda (Flecha izq)
                &kp RIGHT    // Joy1 Derecha (Flecha der)
                &mo 1        // Joy1 Botón (Presionar) -> Activa Capa 1 (Símbolos)

                // Joystick 2 (Botón del Mouse)
                &mkp LCLK    // Joy2 Botón (Presionar) -> Click Izquierdo
            >; //
        };

        // --- CAPA 1: Símbolos y Mouse ---
        layer_1 {
            bindings = <
                &kp N1       &kp N2       &kp N3       &kp N4       &kp N5       &kp N6
                &kp N7       &kp N8       &kp N9       &kp N0       &kp MINUS    &kp EQUAL
                &kp LBRC     &kp RBRC     &kp BSLH     &kp SQT      &kp DQT      &kp TILDE
                &trans       &trans       &trans       &trans       &trans       &trans
                &trans       &trans       &trans       &kp DEL      &trans       &trans
            >; //

            sensor-bindings = <
                // Joystick 1 (Digital)
                &trans       &trans       &trans       &trans       &trans

                // Joystick 2 (Botón del Mouse)
                // Habilita el movimiento del mouse SÓLO mientras esta capa esté activa
                &pointing_enable
            >; //
        };
    };
};
